.card {
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card .top {
    display: flex;
    justify-content: center;
    height: 200px;
    border-bottom: 1px solid lightgrey;
}

.card .top img {
    object-fit: cover;
    width: 100%;
}

.card .bottom {
    height: 180px;
    padding: 3vw;
}